{% extends 'base.html' %}
{% block content %}
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Contact Us</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Search Result</li>
            </ul>
        </div>
    </div>
</div>


<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-brand">
                                    <option selected="true" disabled="disabled">Model</option>
                                    {% for sdata in sdata.model  %}
                                        <option value={{ sdata }}>{{ sdata }}</option>
                                    {% endfor %}                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-make">
                                    <option selected="true" disabled="disabled">Year</option>
                                    {% for sdata in sdata.year  %}
                                        <option value={{ sdata }}>{{ sdata }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-location">
                                    <option selected="true" disabled="disabled">Color</option>
                                    {% for sdata in sdata.color  %}
                                        <option value={{ sdata }}>{{ sdata }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-year">
                                    <option disabled="disabled" selected="selected">City</option>
                                    {% for sdata in sdata.city  %}
                                        <option value={{ sdata }}>{{ sdata }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="select-type">
                                    <option disabled="disabled" selected="selected">Body Style</option>
                                    {% for sdata in sdata.body_style  %}
                                        <option value={{ sdata }}>{{ sdata }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="transmission">
                                    <option disabled="disabled" selected="selected">Doors</option>
                                    {% for sdata in sdata.doors  %}
                                        <option value={{ sdata }}>{{ sdata }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="{{maxval.price__max}}" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>Cars</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for allcar in car %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'car-detail-page' allcar.id %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src='{{allcar.car_photo.url}}' style="min-height:262px;max-height:262px;" alt="car">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{allcar.miles}} km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{allcar.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{allcar.transmission}}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href='{{allcar.car_photo1.url}}' class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src='{{allcar.car_photo1.url}}'>
                                        </a>
                                        <a href='{{allcar.car_photo2.url}}' class="hidden">
                                            <img class="hidden" src='{{allcar.car_photo2.url}}'>
                                        </a>
                                        <a href='{{allcar.car_photo3.url}}' class="hidden">
                                            <img class="hidden" src='{{allcar.car_photo3.url}}'>
                                        </a>
                                        <a href='{{allcar.car_photo4.url}}' class="hidden">
                                            <img class="hidden" src='{{allcar.car_photo4.url}}'>
                                        </a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'car-detail-page' allcar.id %}">{{allcar.car_title}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'car-detail-page' allcar.id %}">
                                <i class="flaticon-pin"></i>{{allcar.city}},{{allcar.state}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{allcar.body_style}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">${{allcar.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}